@mixin shape($color: orange, $shape: "rectangle") 
{
    background-color: $color;

    @if($shape == "rectangle"){
        width: 80px;
        height: 40px;
    }

    @if($shape == "square"){
        width: 80px;
        height: 80px;
    }

    @if($shape == "circle"){
        border-radius: 50%;
        height: 80px;
        width: 80px;
    }
}

.button-square{
    @include shape($color:red,$shape:"square");
}

.button-rectangle{
    @include shape;
}

.button-circle{
    @include shape($color:green,$shape:"circle");
}
